- if activity.trackable
  .activity.clearfix.infinitescroll-item
    .status{:id => 'status_' + activity.trackable.id.to_s}
      - add_tab :show.l, 'show_status_' + activity.trackable.id.to_s do
        .span1
          = thumbnail link_to image_tag(activity.owner.image.url(:thumb)), cooperative.person_path(activity.owner)
          .muted= activity.trackable.created_at
        .span6
          = icon 'check'
          = link_to activity.owner.nickname, cooperative.person_path(activity.owner)
          = status_format_body activity.trackable.body
          - if activity.owner == current_user
            = link_to icon('remove'), cooperative.status_path(activity.trackable), :method => :delete, :remote => true, :class => 'pull-right', :format => :js
          = render 'statuses/shareable', :status => activity.trackable
      - add_tab badge(activity.trackable.statuses.count, 'info') + :share.l, 'share_status_' + activity.trackable.id.to_s do
        = render :partial => 'statuses/form_for_sharing', :locals => {:status => activity.trackable.new_status}
      - add_tab badge(activity.trackable.comments.count, 'info') + :comment.l, 'comment_status_' + activity.trackable.id.to_s do
        = render :partial => 'comments/comments', :locals => {:comments => activity.trackable.comments}
        = render :partial => 'comments/form', :locals => {:commentable => activity.trackable}

      = render_tabs 'left'