.activity.clearfix.infinitescroll-item
  - if activity.trackable
    .status{:id => 'status_' + activity.trackable.id.to_s}
      - add_tab :show.l, 'show_status_' + activity.trackable.id.to_s do
        .span1
          = thumbnail link_to image_tag(activity.recipient.image.url(:thumb)), cooperative.person_path(activity.recipient)
          .muted= activity.trackable.created_at
        .span6
          = icon 'user'
          = :nickname_was_mentioned_in_a_status.l :nickname => link_to(activity.recipient.nickname, cooperative.person_path(activity.recipient)).html_safe
          .well= render 'statuses/status', :locals => {:status => activity.trackable}