-if user_signed_in? and current_user.id == @person.id
  -widget do
    %h3= :tools.l
    %ul.nav.nav-list
      =nav_item '<i class="icon-file"></i>'.html_safe + :new_page.l, cooperative.new_person_page_path(@person), :class => 'btn btn-primary'
-else
  -widget do
    %h3= :about_nickname.l :nickname => @person.nickname
    -if @person.bio.length > 0
      %p= truncate strip_tags(@person.bio), :length => 255, :separator => ' '
    %ul
      %li= link_to :nicknames_profile.l(:nickname => @person.nickname), cooperative.person_path(@person)
      %li= link_to :nicknames_follows.l(:nickname => @person.nickname), cooperative.person_follows_path(@person)
      %li= link_to :nicknames_followers.l(:nickname => @person.nickname), cooperative.followers_person_path(@person)

=render 'tags/submenu_for_person', :person => @person

-unless @person.pages.empty?
  =render 'pages/submenu_for_person', :user => @person
