-@title = @person.nickname
  
=render 'submenu'

%div{:id => 'follow_person' + @person.id.to_s}= render 'follows/person', :person => @person

-if @person.image_file_name
  %ul.thumbnails.span6.pull-right
    %li.thumbnail= link_to image_tag(@person.image.url(:large)), @person.image.url(:original)
    
-unless @person.bio.blank?
  %h2= :bio.l
  =sanitize @person.bio.html_safe

-unless @person.activities.empty?
  .clear-all
    %h2= :nicknames_activities.l :nickname => @person.nickname
    - for activity in @person.activities
      .activity.clearfix= render_activity activity