= bootstrap_form_for @share, :url => cooperative.shares_path, :format => 'js', :remote => true, :html => {:class => 'form form-horizontal'} do |f|
  -if @share.shareable_type == 'Status'
    = f.hidden_field :shareable_id
    = f.hidden_field :shareable_type
    = f.hidden_field :url
    = render @share.shareable  
  -elsif @share.shareable_type == 'Share'
    = f.hidden_field :shareable_id
    = f.hidden_field :shareable_type
    = f.hidden_field :url
    = f.hidden_field :image_remote_url, :value => cooperative.home_url + @share.shareable.image.url(:large)
    = render @share.shareable
  -else
    = f.hidden_field :shareable_id
    = f.hidden_field :shareable_type
    = f.text_field :url
    #share_images_group.control-group.hide
      %label.control-label
        = :select_an_image.l
        %img#selected_image
      .controls
        #share_images
        = f.hidden_field :image_remote_url
  = f.text_area :body, :rows => 3, :cols => 60, :label => :your_message.l
  .control-group
    .controls
      = f.submit :share.l
    
-content_for :end_javascript do
  %script{:type => 'text/javascript'}
    $('#share_url').change(shares_images);
    $('.shareable_image').on('click', shares_select);
