= bootstrap_form_for @status, :url => cooperative.statuses_path, :format => :js, :remote => true, :html => {:class => 'form form-horizontal'} do |f|

  = f.hidden_field :url
  = f.hidden_field :title
  = f.hidden_field :description
  = f.hidden_field :image_remote_url
  = f.hidden_field :shareable_type
  = f.hidden_field :shareable_id
  = f.text_area :body, :rows => 3, :cols => 60, :label => false, :id => 'modal_status_body'
  -if @status.shareable
    .control-group
      %label.control-label
        = :original.l
      .controls
        %blockquote
          -if !@status.shareable.image_file_name.nil?
            %ul.thumbnails
              %li.thumbnail= link_to image_tag(@status.shareable.image.url(:medium)), @status.url

          -if @status.title
            %h3= link_to @status.title, @status.url

          -if @status.description
            %p= status_format_body @status.description

          -if @status.shareable
            %cite
              = :posted_by.l
              = link_to @status.shareable.user.nickname, cooperative.person_path(@status.shareable.user.nickname)
  %ul#modal_mentions.thumbnails
  .control-group
    .controls
      = f.submit :set_status.l
-content_for :end_javascript do
  %script{:type => 'text/javascript'}
    $('#status_url').load(status_grab_url);

= follows_auto_complete '#modal_status_body', cooperative.person_follows_path(:person_id => current_user.nickname, :format => 'json')
= tags_auto_complete '#modal_status_body', cooperative.tags_path(:format => 'json')
