= bootstrap_form_for @status, :url => cooperative.statuses_path, :format => :js, :remote => true, :html => {:class => 'form form-horizontal', :id => 'modal-form'} do |f|
  #status_people.mentions.thumbnails.span3.pull-right
  = f.hidden_field :url
  = f.hidden_field :title
  = f.hidden_field :description
  = f.hidden_field :image_remote_url
  = f.text_area :body, :rows => 3, :cols => 60, :label => false, :class => 'tokenizer'
  #status_grab_group.control-group.hide
    %label.control-label
      = :preview.l
    .controls
      #status_grab
  .control-group
    .controls
      = f.submit :set_status.l
-content_for :end_javascript do
  %script{:type => 'text/javascript'}
    $('#status_body').on('keyup', status_parse_body).on('change', status_parse_body);
