%blockquote
  -unless (images.nil? or images.empty?) and (videos.nil? or videos.empty?)
    %ul.thumbnails.span2.pull-right
      %h3.relative.clearfix
        = link_to '&lsaquo;'.html_safe, '#carousel', :data => {:slide => 'prev'}, :class => 'carousel-control left pull-left'
        = link_to '&rsaquo;'.html_safe, '#carousel', :data => {:slide => 'next'}, :class => 'carousel-control right pull-right'
      #carousel.carousel.slides
        .carousel-inner
          -videos.each_with_index do |video, index|
            .item
              .thumbnail
                = video video[:src], video[:type], :width => 150, :height => 100
          -images.each_with_index do |image, index|
            .item
              = link_to image_tag(image[:src], :class => 'thumbnail'), '#', :class => 'shareable_image', :id => 'image_' + index.to_s

  %h3= link_to title, uri
  %p= description