- @title = :status.l
- add_tab :show.l, 'show_status_' + @status.id.to_s do
  .span1
    = thumbnail link_to image_tag(@status.user.image.url(:thumb)), cooperative.person_path(@status.user.nickname)
  .span6
    = actionable_descriptor @status, 'check'
    = tokenize @status.body
    - if can? :destroy, @status
      = link_to icon('trash'), cooperative.status_path(@status), :method => :delete, :class => 'pull-right', data: { :confirm => :are_you_sure.l }
    = render 'statuses/shareable', :status => @status
    .comments.clearfix{:id => 'status_' + @status.id.to_s + '_comments'}
      - unless @status.comments.empty?
        = render :partial => 'comments/comments', :locals => {:comments => @status.comments}
    .clearfix
      .span1
        = thumbnail link_to image_tag(current_user.image.url(:thumb)), cooperative.person_path(current_user.nickname)
      .span4{:id => 'status_' + @status.id.to_s + '_comment_form'}
        = render :partial => 'comments/form', :locals => {:commentable => @status}
- add_tab badge(@status.statuses.count, 'info') + :share.l, 'share_status_' + @status.id.to_s do
  = render :partial => 'statuses/form_for_sharing', :locals => {:status => @status.new_status}
- add_tab :vote.l, 'vote_status_' + @status.id.to_s do
  = :vote.l

= render_tabs 'top'