=#NOTE: Do not make more than one tab active or weird things will happen.

%ul.nav.nav-tabs
  %li.active= link_to :set_my_status.l, '#status', :data => {:toggle => 'tab'}
  %li= link_to :send_a_message.l, '#message', :data => {:toggle => 'tab'}
.tab-content
  #status.tab-pane.active= render 'statuses/form_for_notifications'
  #message.tab-pane= render 'messages/form_for_notifications'

#notifications
- @activities.each do |activity|
  .activity.clearfix
    - unless activity.owner.nil?
      = render_activity activity

#modal.modal.hide.fade{:tabindex => -1, :role => 'dialog', :aria => {:labelledby => 'modalLabel', :hidden => true}}
  .modal-header
    %button.close{:type => 'button', :data => {:dismiss => 'modal'}, :aria => {:hidden => true}}= 'x'
    %h3#modalLabel= :share.l
  #modal-body.modal-body
    %div.spinner
  .modal-footer
    %button.close{:type => 'button', :data => {:dismiss => 'modal'}, :aria => {:hidden => true}}= :close.l
      
- content_for :end_javascript do
  %script{:type => 'text/javascript'}
    $('#modal').on('hidden', status_dismiss_modal)