=#NOTE: Do not make more than one tab active or weird things will happen.

%ul.nav.nav-tabs
  %li.active= link_to :set_my_status.l, '#status', :data => {:toggle => 'tab'}
  %li= link_to :send_a_message.l, '#message', :data => {:toggle => 'tab'}
.tab-content
  #status.tab-pane.active= render 'statuses/form_for_notifications'
  #message.tab-pane= render 'messages/form_for_notifications'

#notifications
- @activities.each do |activity|
  .activity.clearfix
    - unless activity.owner.nil?
      = render_activity activity

