- add_title :groups.l

= link_to :create_a_group.l, cooperative.new_group_path, :class => 'btn btn-success'

- unless @groups.nil?
  - @groups.each do |group|
    .group{:id => "group_#{group.id}"}
      %h2= link_to group.name, cooperative.group_path(group)
      %p= truncate group.description, :length => 100, :separator => ' '
  = paginate @groups, :engine_namespace => cooperative