
  
-unless person.skills.empty?
  - add_widget do
    %h3= :skills.l
    %p= tag_list person.skills
  
-unless person.hobbies.empty?
  - add_widget do
    %h3= :hobbies.l
    %p= tag_list person.hobbies
    
-unless person.interests.empty?
  - add_widget do
    %h3= :interests.l
    %p= tag_list person.interests