- add_title :nicknames_follows.l :nickname => @person.nickname

= render 'people/submenu'

-for person in @follows
  .person.clearfix
    .thumbnail.span3.pull-right= link_to image_tag(person.image.url(:medium)), cooperative.person_path(person)
    %h2= link_to person.nickname, cooperative.person_path(person)
    %div{:id => 'follow_person' + person.id.to_s}= render 'follows/person', :person => person
    %p= truncate_words(person.bio, 75)
=paginate @follows
