- add_title :activities.l

- add_tab :set_my_status.l, 'new_status_tab' do
  = statuses_form_for_activities
-#- add_tab :send_a_message.l, 'new_message_tab' do
-#  = messages_form_for_activities
= render_tabs 'top'

#activities.infinitescroll
  - for activity in @activities
    = render 'activities/activity', :activity => activity
  = paginate @activities, :engine_namespace => cooperative

= follows_auto_complete '.active .tokenizer', cooperative.person_follows_path(:person_id => current_user.nickname, :format => 'json')
= tags_auto_complete '.active .tokenizer', cooperative.tags_path(:format => 'json')
