- add_title :edit_my_profile.l
= bootstrap_form_for(@user, :url => cooperative.profile_path, :html => { :method => :put, :class => 'form form-horizontal' }) do |f|
  =f.file_field :image, :label => :profile_image.l
  =f.text_area :bio, :class => 'wysiwyg'
  = f.select :theme, Bootswitch.configuration.themes
  = f.text_field :skill_list, :class => 'skill-tag-box'
  = f.text_field :interest_list, :class => 'interest-tag-box'
  = f.text_field :hobby_list, :class => 'hobby-tag-box'
  =tinymce_init
  .controls= f.submit :update.l

- add_footer_javascript do
  :javascript
    $('.skill-tag-box').tagit({availableTags: ["#{User.tags_on('skills').join('", "')}"]});
    $('.interest-tag-box').tagit({availableTags: ["#{User.tags_on('interests').join('", "')}"]});
    $('.hobby-tag-box').tagit({availableTags: ["#{User.tags_on('hobbies').join('", "')}"]});
