!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    = render_title
    = render_description
    = render_keywords

    = responsive_meta_tag
    = csrf_meta_tag

    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}

    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})

    = stylesheet_link_tag 'cooperative'
    = stylesheet_link_tag 'application'
    = render_head_css

  %body{:class => controller.controller_name}
    = nav_bar do
      = nav_list do
        = render 'people/menu_item'
        = render 'activities/menu_item'
        = render 'groups/menu_item'
        = render 'tags/menu_item'
      = nav_list :class => 'pull-right' do
        = render 'messages/menu_item'
        = render 'users/menu_item'

    .container
      .row
        = render_hero_unit

    .container
      .row
        .span9
          -#%ol.breadcrumb= render_breadcrumbs :tag => :li
          = render_h1
          = alert_flash_messages
          = yield
        .span3.pull-right
          = render_widgets

    .container
      = nav_list :class =>  'nav-pills' do
        = pages_menu_items
        - if signed_in?
          = nav_item :sign_out.l, destroy_user_session_path, :method => 'delete'
        - else
          = nav_item :sign_in.l, new_user_session_path
          = nav_item :sign_up.l, new_user_registration_path

    %footer
      = javascript_include_tag 'cooperative'
      = javascript_include_tag 'application'
      = render_footer_javascript