!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %meta{"name"=>"description", :content=>@description || Cooperative.configuration.application_description || ''}
    %meta{"name"=>"keywords", :content=>@keywords || Cooperative.configuration.application_keywords || ''}
    =csrf_meta_tag

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}

    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
      
    = render "layouts/stylesheets"      
    
  %body{:class => controller.controller_name}
    .navbar.navbar-static-top
      .navbar-inner
        .container.clearfix
          .row
            = render "layouts/navbar"
            
    .container
      .row
        = render "layouts/hero_unit"
            
    .container
      .row
        .span9
          %ul.breadcrumb= render_breadcrumbs :tag => 'li'
          %h1=container_title
          = render "layouts/messages"
          = yield
        .span3.pull-right
          = render "layouts/sidebar"
            
    .container
      .row
        .span12
          = render "layouts/footer"

    = render "layouts/javascripts"