!!!
%html
  %head
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    =csrf_meta_tag

    %title= page_title
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}

    - if @rss_title && @rss_url
      = auto_discovery_link_tag(:rss, @rss_url, {:title => @rss_title})
      
    = render "layouts/stylesheets"      
    
  %body{:class => controller.controller_name}
    = yield

    = render "layouts/javascripts"